@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i&display=swap');

$blue_main: #008ed6;
$white: #fff;
$gray: #545459;
$gray_text: #999999;
$gray_white: #b2b2b2;
$black: #000;
body.simple_page {
  font-family: 'Source Sans Pro', sans-serif;

  .container {
    max-width: 1170px;
  }

  #home {
    background: linear-gradient(rgba(22, 21, 27, 0.9), rgba(22, 21, 27, 0.9)), url("../images/main_bg.png") no-repeat;
    background-size: cover;
  }

  header {
    @media (max-width: 767px) {
      text-align: center;
    }

    font-family: 'Source Sans Pro', sans-serif;
    padding: 35px 0 10px;
    color: $white;
    width: 100%;
    top: 0;
    z-index: 99;

    p {
      color: red;
    }

    .header_menu {
      ul.menu {
        li {
          list-style: none;
          display: inline-block;
          margin: 0 10px;
          color: $white;
          font-weight: bold;

          a {
            text-decoration: none;
            color: white;
          }

          a:hover {
            cursor: pointer;
            border-bottom: dashed 3px $blue_main;
            border-image-source: url("../images/line-border.png");
            border-image-slice: 3;
          }
        }

        li a.active {
          border-bottom: dashed 3px $blue_main;
          border-image-source: url("../images/line-border.png");
          border-image-slice: 3;
        }
      }

    }

    .logo {


      div {
        display: inline-block;
        color: $white;
        vertical-align: top;
        margin-bottom: 15px;
      }

      .logo-main {
        font-weight: bold;
        font-size: 32px;
        line-height: 30px;
        margin-right: 10px;
      }

      .logo-text {
        font-size: 14px;
        line-height: 14px;
        color: $gray;
      }
    }
  }

  #under-menu {
    @media (max-width: 767px) {
      text-align: center;
    }

    .under-text {
      display: block;
      @media (min-width: 1200px) {
        max-width: 88%;
      }
    }

    .introduction {
      @media (max-width: 968px) {
        margin: 20px 0 5px;
      }
      display: block;
      color: $blue_main;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 120px 0 30px;
      letter-spacing: 1.2px;
    }

    .carefully {
      @media (max-width: 968px) {
        font-size: 32px;
      }
      display: block;
      font-size: 40px;
      font-weight: bold;
      color: $white;
    }

    .devices_menu {
      margin-top: 40px;
      max-width: 100%;
      height: auto;
    }

    .caref-description {
      display: block;
      color: $gray;
      font-size: 18px;
    }
  }

  #features {
    text-align: center;
    padding: 40px 0 80px;
    border-bottom: 1px solid #ededed;

    .icons {
      .circle {
        border: 1px solid $gray_white;
        border-radius: 50%;
        width: 88px;
        height: 88px;
        display: inline-block;
        margin-bottom: 18px;
      }

      .circle:hover {
        border: 1px solid $gray_text;
      }

      .circle.responsive {
        background: url("../images/features/monitor.png") center center no-repeat;
      }

      .circle.customizable {
        background: url("../images/features/settings.png") center center no-repeat;
      }

      .circle.lovely-design {
        background: url("../images/features/like.png") center center no-repeat;
      }

      .circle.mobile-friendly {
        background: url("../images/features/phone.png") center center no-repeat;
      }

      .feature-title {
        font-weight: 400;
        font-size: 22px;
        font-style: normal;
        color: $black;
        margin-bottom: 8px;
      }

      .feature-desc {
        color: $gray_text;
      }

      .icon {
        padding: 0 35px;
      }
    }
  }

  #about-us {
    @media (max-width: 767px) {
      text-align: center;
    }

    padding: 80px 0;

    .about-us-img img {
      height: auto;
      width: auto;
      max-width: 90%;
    }

    .about-us-info {
      h2, h3 {
        @media (max-width: 767px) {
          text-align: center;
        }
        text-align: left;
      }

      h3 {
        color: $blue_main;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        margin: 50px 0 15px;
      }

      h2 {
        color: $black;
        font-size: 28px;
        font-weight: 600;
      }

      p.about-desc-long {
        color: $gray_text;
        margin-bottom: 50px;
      }

      .about-list {
        margin: 0;
        display: inline-block;
        padding-left: 25px;

        .awesome {
          list-style-image: url("../images/about/cup.png");
        }

        .responsive {
          list-style-image: url("../images/about/mouse.png");
        }

        .retina {
          list-style-image: url("../images/about/energy.png");
        }

        .tons {
          list-style-image: url("../images/about/speed.png");
        }

        .about-item {
          font-weight: 400;
          color: $black;
          margin-bottom: 10px;

          .icon-text {
            line-height: 14px;
            font-size: 18px;
            float: left;
          }
        }
      }
    }
  }

  #about-short {
    padding: 40px 0;
    background: #f2f2f2;
    text-align: center;

    .iphone img {
      height: auto;
      width: auto;
      max-width: 90%;
    }

    .info-short {
      @media (max-width: 991px) {
        text-align: center;
      }

      text-align: left;

      h3 {
        color: $blue_main;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        margin: 110px 0 15px;
      }

      h2 {
        color: $black;
        font-size: 28px;
        font-weight: 600;
      }

      p.about-desc-long {
        color: $gray_text;
        margin-bottom: 50px;
      }
    }
  }

  #testimonials {
    @media (max-width: 767px) {
      .carousel-item .row > div:nth-child(2) {
        display: none;
      }
    }

    background: linear-gradient(rgba(22, 21, 27, 0.5), rgba(22, 21, 27, 0.5)), url("../images/testimonials_bg.png") no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px 0;

    h2 {
      color: $white;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1.6px;
    }

    h4 {
      color: $blue_main;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }

    .line-across {
      margin: 0 0 40px;
    }

    #myCarousel {
      text-align: left;
      color: $white;
      padding-bottom: 50px;

      .avatar {
        border-radius: 50%;
        float: left;
        margin-right: 15px;
      }
    }

    .carousel-indicators > li {
      border: 1px solid #b2b2b2;
      background-color: transparent;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      margin-right: 18px;
    }

    .carousel-indicators > li.active {
      background-color: $white;
      border-radius: 50%;
      border: none;
      width: 13px;
      height: 13px;
    }

    .comment {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .name {
      float: left;
      font-size: 18px;
      font-weight: 400;
      width: 70%;
    }

    .position {
      float: left;
      font-size: 18px;
      font-weight: 600;
    }
  }

  #eye-catcher {
    @media (max-width: 767px) {
      text-align: center;
    }

    padding: 60px 0 50px;
    background-color: #15141a;

    h3 {
      color: $white;
      font-weight: 300;

      span {
        font-weight: 600;
      }
    }

    .site-buttons a.btn {
      margin-top: 0;
    }
  }

  .site-buttons {
    a.btn {
      margin-top: 40px;
      color: $white;
      background-color: $blue_main;
      padding: 12px 25px;
      text-transform: uppercase;
      margin-right: 15px;
      font-weight: 700;
      font-size: 14px;
    }

    a.btn:hover {
      border: 1px solid #4d4c52;
    }

    a.btn.features {
      background-color: transparent;
      border: 1px solid #4d4c52;
    }

    a.btn.features:hover {
      border: 1px solid $gray_white;
    }
  }

  #pricing-block {
    padding: 60px 0;
    text-align: center;

    .price-block {
      border: 1px solid #e0e0e0;
      padding: 25px 0;
      margin-bottom: 10px;

      a.btn {
        border: 1px solid #e0e0e0;
        color: $blue_main;
        font-size: 14px;
        font-weight: 700;
        padding: 15px 40px;
      }

      .price-title {
        font-weight: 700;
        font-size: 24px;
        color: $black;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 20px;
        text-transform: uppercase;
      }

      .price-total {
        border-bottom: 1px solid #e0e0e0;
        padding: 40px 20px;

        .price-dollar {
          font-weight: 600;
          font-size: 52px;
          line-height: 50px;

          sup {
            top: -.6em;
            font-size: 26px;
          }
        }

        .price-month {
          color: $gray_text;
        }
      }

      .price-desc {
        padding: 40px 25px;
        color: $gray_text;

        a {
          color: $blue_main;
          text-decoration: none;
        }

        a:hover {
          text-decoration: none;
        }
      }
    }

    .price-block.active {
      a.btn {
        background-color: $blue_main;
        color: $white;
      }

      .price-total {
        background-color: $blue_main;
        color: $white;

        .price-month {
          color: $white;
        }
      }

      .price-title {
        color: $blue_main;
      }
    }
  }

  #contact-us {
    @media (max-width: 767px) {
      padding: 60px 0 15px 0;
    }
    padding: 60px 0 0 0;
    background-color: #ededed;
    text-align: center;
    color: $gray_text;
    font-family: 'Source Sans Pro', sans-serif;

    .contacts {
      margin-bottom: 70px;
    }

    img {
      margin-bottom: 25px;
    }

    .send-message {
      @media (max-width: 767px) {
        width: 100%;
      }
      width: 70%;
      margin: 0 auto;
      padding: 50px 70px 30px 45px;
      background-color: #15141a;
      color: #444348;
      position: relative;
      @media (min-width: 767px) {
        margin-bottom: -63px;
      }

      form {
        .form_block {
          @media (max-width: 767px) {
            width: 99%;
          }
          width: 49%;
          display: inline-block;
          vertical-align: top;
        }

        .form_block.first {
          @media (min-width: 767px) {
            padding-right: 20px;
          }
        }

        input, textarea {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 16px;
          font-weight: 600;
          padding: 15px 20px;
          border: 1px solid #444348;
          background: transparent;
          border-radius: 3px;
          margin-bottom: 20px;
          width: 100%;
        }

        input[type=submit] {
          @media (max-width: 1024px) {
            width: 100%;
          }
          color: $white;
          background-color: $blue_main;
          border: none;
          border-radius: 3px;
          width: 50%;
          float: right;
        }
      }
    }
  }

  footer {
    color: #444348;
    text-align: center;
    padding: 55px 0 45px;
    background-color: #15141a;

    .copyright {
      text-transform: uppercase;
    }

    .soc-icons {
      margin-bottom: 25px;

      a, a:hover {
        text-decoration: none;

        span {
          margin-right: 25px;
          display: inline-block;
          width: 20px;
          height: 20px;
        }

        .behance {
          background: url("../images/socials/behance.png") center center no-repeat;
          background-size: 20px 20px;
        }

        .behance:hover {
          background: url("../images/socials/behance_active.png") center center no-repeat;
          background-size: 20px 20px;
        }

        .dribbble {
          background: url("../images/socials/dribbble.png") center center no-repeat;
          background-size: 20px 20px;
        }

        .dribbble:hover {
          background: url("../images/socials/dribbble_active.png") center center no-repeat;
          background-size: 20px 20px;
        }

        .twitter {
          background: url("../images/socials/twitter.png") center center no-repeat;
          background-size: 20px 20px;
        }

        .twitter:hover {
          background: url("../images/socials/twitter_active.png") center center no-repeat;
          background-size: 20px 20px;
        }

        .facebook {
          background: url("../images/socials/facebook.png") center center no-repeat;
          background-size: 20px 20px;
        }

        .facebook:hover {
          background: url("../images/socials/facebook_active.png") center center no-repeat;
          background-size: 20px 20px;
        }

        .linkedin {
          background: url("../images/socials/linkedin.png") center center no-repeat;
          background-size: 20px 20px;
        }

        .linkedin:hover {
          background: url("../images/socials/linkedin_active.png") center center no-repeat;
          background-size: 20px 20px;
        }

      }
    }
  }

  #map {
    overflow: hidden;

    iframe {
      width: 100%;
    }
  }

  .general-title {
    .features-title {
      color: $black;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1.6px;
    }

    .overview {
      color: $blue_main;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }

    .line-across {
      margin: 0 0 40px;
    }
  }
}