@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i&display=swap");
body.simple_page {
  font-family: 'Source Sans Pro', sans-serif; }
  body.simple_page .container {
    max-width: 1170px; }
  body.simple_page #home {
    background: linear-gradient(rgba(22, 21, 27, 0.9), rgba(22, 21, 27, 0.9)), url("../images/main_bg.png") no-repeat;
    background-size: cover; }
  body.simple_page header {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 35px 0 10px;
    color: #fff;
    width: 100%;
    top: 0;
    z-index: 99; }
    @media (max-width: 767px) {
      body.simple_page header {
        text-align: center; } }
    body.simple_page header p {
      color: red; }
    body.simple_page header .header_menu ul.menu li {
      list-style: none;
      display: inline-block;
      margin: 0 10px;
      color: #fff;
      font-weight: bold; }
      body.simple_page header .header_menu ul.menu li a {
        text-decoration: none;
        color: white; }
      body.simple_page header .header_menu ul.menu li a:hover {
        cursor: pointer;
        border-bottom: dashed 3px #008ed6;
        border-image-source: url("../images/line-border.png");
        border-image-slice: 3; }
    body.simple_page header .header_menu ul.menu li a.active {
      border-bottom: dashed 3px #008ed6;
      border-image-source: url("../images/line-border.png");
      border-image-slice: 3; }
    body.simple_page header .logo div {
      display: inline-block;
      color: #fff;
      vertical-align: top;
      margin-bottom: 15px; }
    body.simple_page header .logo .logo-main {
      font-weight: bold;
      font-size: 32px;
      line-height: 30px;
      margin-right: 10px; }
    body.simple_page header .logo .logo-text {
      font-size: 14px;
      line-height: 14px;
      color: #545459; }
  @media (max-width: 767px) {
    body.simple_page #under-menu {
      text-align: center; } }
  body.simple_page #under-menu .under-text {
    display: block; }
    @media (min-width: 1200px) {
      body.simple_page #under-menu .under-text {
        max-width: 88%; } }
  body.simple_page #under-menu .introduction {
    display: block;
    color: #008ed6;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 120px 0 30px;
    letter-spacing: 1.2px; }
    @media (max-width: 968px) {
      body.simple_page #under-menu .introduction {
        margin: 20px 0 5px; } }
  body.simple_page #under-menu .carefully {
    display: block;
    font-size: 40px;
    font-weight: bold;
    color: #fff; }
    @media (max-width: 968px) {
      body.simple_page #under-menu .carefully {
        font-size: 32px; } }
  body.simple_page #under-menu .devices_menu {
    margin-top: 40px;
    max-width: 100%;
    height: auto; }
  body.simple_page #under-menu .caref-description {
    display: block;
    color: #545459;
    font-size: 18px; }
  body.simple_page #features {
    text-align: center;
    padding: 40px 0 80px;
    border-bottom: 1px solid #ededed; }
    body.simple_page #features .icons .circle {
      border: 1px solid #b2b2b2;
      border-radius: 50%;
      width: 88px;
      height: 88px;
      display: inline-block;
      margin-bottom: 18px; }
    body.simple_page #features .icons .circle:hover {
      border: 1px solid #999999; }
    body.simple_page #features .icons .circle.responsive {
      background: url("../images/features/monitor.png") center center no-repeat; }
    body.simple_page #features .icons .circle.customizable {
      background: url("../images/features/settings.png") center center no-repeat; }
    body.simple_page #features .icons .circle.lovely-design {
      background: url("../images/features/like.png") center center no-repeat; }
    body.simple_page #features .icons .circle.mobile-friendly {
      background: url("../images/features/phone.png") center center no-repeat; }
    body.simple_page #features .icons .feature-title {
      font-weight: 400;
      font-size: 22px;
      font-style: normal;
      color: #000;
      margin-bottom: 8px; }
    body.simple_page #features .icons .feature-desc {
      color: #999999; }
    body.simple_page #features .icons .icon {
      padding: 0 35px; }
  body.simple_page #about-us {
    padding: 80px 0; }
    @media (max-width: 767px) {
      body.simple_page #about-us {
        text-align: center; } }
    body.simple_page #about-us .about-us-img img {
      height: auto;
      width: auto;
      max-width: 90%; }
    body.simple_page #about-us .about-us-info h2, body.simple_page #about-us .about-us-info h3 {
      text-align: left; }
      @media (max-width: 767px) {
        body.simple_page #about-us .about-us-info h2, body.simple_page #about-us .about-us-info h3 {
          text-align: center; } }
    body.simple_page #about-us .about-us-info h3 {
      color: #008ed6;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      margin: 50px 0 15px; }
    body.simple_page #about-us .about-us-info h2 {
      color: #000;
      font-size: 28px;
      font-weight: 600; }
    body.simple_page #about-us .about-us-info p.about-desc-long {
      color: #999999;
      margin-bottom: 50px; }
    body.simple_page #about-us .about-us-info .about-list {
      margin: 0;
      display: inline-block;
      padding-left: 25px; }
      body.simple_page #about-us .about-us-info .about-list .awesome {
        list-style-image: url("../images/about/cup.png"); }
      body.simple_page #about-us .about-us-info .about-list .responsive {
        list-style-image: url("../images/about/mouse.png"); }
      body.simple_page #about-us .about-us-info .about-list .retina {
        list-style-image: url("../images/about/energy.png"); }
      body.simple_page #about-us .about-us-info .about-list .tons {
        list-style-image: url("../images/about/speed.png"); }
      body.simple_page #about-us .about-us-info .about-list .about-item {
        font-weight: 400;
        color: #000;
        margin-bottom: 10px; }
        body.simple_page #about-us .about-us-info .about-list .about-item .icon-text {
          line-height: 14px;
          font-size: 18px;
          float: left; }
  body.simple_page #about-short {
    padding: 40px 0;
    background: #f2f2f2;
    text-align: center; }
    body.simple_page #about-short .iphone img {
      height: auto;
      width: auto;
      max-width: 90%; }
    body.simple_page #about-short .info-short {
      text-align: left; }
      @media (max-width: 991px) {
        body.simple_page #about-short .info-short {
          text-align: center; } }
      body.simple_page #about-short .info-short h3 {
        color: #008ed6;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        margin: 110px 0 15px; }
      body.simple_page #about-short .info-short h2 {
        color: #000;
        font-size: 28px;
        font-weight: 600; }
      body.simple_page #about-short .info-short p.about-desc-long {
        color: #999999;
        margin-bottom: 50px; }
  body.simple_page #testimonials {
    background: linear-gradient(rgba(22, 21, 27, 0.5), rgba(22, 21, 27, 0.5)), url("../images/testimonials_bg.png") no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px 0; }
    @media (max-width: 767px) {
      body.simple_page #testimonials .carousel-item .row > div:nth-child(2) {
        display: none; } }
    body.simple_page #testimonials h2 {
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1.6px; }
    body.simple_page #testimonials h4 {
      color: #008ed6;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 15px; }
    body.simple_page #testimonials .line-across {
      margin: 0 0 40px; }
    body.simple_page #testimonials #myCarousel {
      text-align: left;
      color: #fff;
      padding-bottom: 50px; }
      body.simple_page #testimonials #myCarousel .avatar {
        border-radius: 50%;
        float: left;
        margin-right: 15px; }
    body.simple_page #testimonials .carousel-indicators > li {
      border: 1px solid #b2b2b2;
      background-color: transparent;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      margin-right: 18px; }
    body.simple_page #testimonials .carousel-indicators > li.active {
      background-color: #fff;
      border-radius: 50%;
      border: none;
      width: 13px;
      height: 13px; }
    body.simple_page #testimonials .comment {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 20px; }
    body.simple_page #testimonials .name {
      float: left;
      font-size: 18px;
      font-weight: 400;
      width: 70%; }
    body.simple_page #testimonials .position {
      float: left;
      font-size: 18px;
      font-weight: 600; }
  body.simple_page #eye-catcher {
    padding: 60px 0 50px;
    background-color: #15141a; }
    @media (max-width: 767px) {
      body.simple_page #eye-catcher {
        text-align: center; } }
    body.simple_page #eye-catcher h3 {
      color: #fff;
      font-weight: 300; }
      body.simple_page #eye-catcher h3 span {
        font-weight: 600; }
    body.simple_page #eye-catcher .site-buttons a.btn {
      margin-top: 0; }
  body.simple_page .site-buttons a.btn {
    margin-top: 40px;
    color: #fff;
    background-color: #008ed6;
    padding: 12px 25px;
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: 700;
    font-size: 14px; }
  body.simple_page .site-buttons a.btn:hover {
    border: 1px solid #4d4c52; }
  body.simple_page .site-buttons a.btn.features {
    background-color: transparent;
    border: 1px solid #4d4c52; }
  body.simple_page .site-buttons a.btn.features:hover {
    border: 1px solid #b2b2b2; }
  body.simple_page #pricing-block {
    padding: 60px 0;
    text-align: center; }
    body.simple_page #pricing-block .price-block {
      border: 1px solid #e0e0e0;
      padding: 25px 0;
      margin-bottom: 10px; }
      body.simple_page #pricing-block .price-block a.btn {
        border: 1px solid #e0e0e0;
        color: #008ed6;
        font-size: 14px;
        font-weight: 700;
        padding: 15px 40px; }
      body.simple_page #pricing-block .price-block .price-title {
        font-weight: 700;
        font-size: 24px;
        color: #000;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 20px;
        text-transform: uppercase; }
      body.simple_page #pricing-block .price-block .price-total {
        border-bottom: 1px solid #e0e0e0;
        padding: 40px 20px; }
        body.simple_page #pricing-block .price-block .price-total .price-dollar {
          font-weight: 600;
          font-size: 52px;
          line-height: 50px; }
          body.simple_page #pricing-block .price-block .price-total .price-dollar sup {
            top: -.6em;
            font-size: 26px; }
        body.simple_page #pricing-block .price-block .price-total .price-month {
          color: #999999; }
      body.simple_page #pricing-block .price-block .price-desc {
        padding: 40px 25px;
        color: #999999; }
        body.simple_page #pricing-block .price-block .price-desc a {
          color: #008ed6;
          text-decoration: none; }
        body.simple_page #pricing-block .price-block .price-desc a:hover {
          text-decoration: none; }
    body.simple_page #pricing-block .price-block.active a.btn {
      background-color: #008ed6;
      color: #fff; }
    body.simple_page #pricing-block .price-block.active .price-total {
      background-color: #008ed6;
      color: #fff; }
      body.simple_page #pricing-block .price-block.active .price-total .price-month {
        color: #fff; }
    body.simple_page #pricing-block .price-block.active .price-title {
      color: #008ed6; }
  body.simple_page #contact-us {
    padding: 60px 0 0 0;
    background-color: #ededed;
    text-align: center;
    color: #999999;
    font-family: 'Source Sans Pro', sans-serif; }
    @media (max-width: 767px) {
      body.simple_page #contact-us {
        padding: 60px 0 15px 0; } }
    body.simple_page #contact-us .contacts {
      margin-bottom: 70px; }
    body.simple_page #contact-us img {
      margin-bottom: 25px; }
    body.simple_page #contact-us .send-message {
      width: 70%;
      margin: 0 auto;
      padding: 50px 70px 30px 45px;
      background-color: #15141a;
      color: #444348;
      position: relative; }
      @media (max-width: 767px) {
        body.simple_page #contact-us .send-message {
          width: 100%; } }
      @media (min-width: 767px) {
        body.simple_page #contact-us .send-message {
          margin-bottom: -63px; } }
      body.simple_page #contact-us .send-message form .form_block {
        width: 49%;
        display: inline-block;
        vertical-align: top; }
        @media (max-width: 767px) {
          body.simple_page #contact-us .send-message form .form_block {
            width: 99%; } }
      @media (min-width: 767px) {
        body.simple_page #contact-us .send-message form .form_block.first {
          padding-right: 20px; } }
      body.simple_page #contact-us .send-message form input, body.simple_page #contact-us .send-message form textarea {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 600;
        padding: 15px 20px;
        border: 1px solid #444348;
        background: transparent;
        border-radius: 3px;
        margin-bottom: 20px;
        width: 100%; }
      body.simple_page #contact-us .send-message form input[type=submit] {
        color: #fff;
        background-color: #008ed6;
        border: none;
        border-radius: 3px;
        width: 50%;
        float: right; }
        @media (max-width: 1024px) {
          body.simple_page #contact-us .send-message form input[type=submit] {
            width: 100%; } }
  body.simple_page footer {
    color: #444348;
    text-align: center;
    padding: 55px 0 45px;
    background-color: #15141a; }
    body.simple_page footer .copyright {
      text-transform: uppercase; }
    body.simple_page footer .soc-icons {
      margin-bottom: 25px; }
      body.simple_page footer .soc-icons a, body.simple_page footer .soc-icons a:hover {
        text-decoration: none; }
        body.simple_page footer .soc-icons a span, body.simple_page footer .soc-icons a:hover span {
          margin-right: 25px;
          display: inline-block;
          width: 20px;
          height: 20px; }
        body.simple_page footer .soc-icons a .behance, body.simple_page footer .soc-icons a:hover .behance {
          background: url("../images/socials/behance.png") center center no-repeat;
          background-size: 20px 20px; }
        body.simple_page footer .soc-icons a .behance:hover, body.simple_page footer .soc-icons a:hover .behance:hover {
          background: url("../images/socials/behance_active.png") center center no-repeat;
          background-size: 20px 20px; }
        body.simple_page footer .soc-icons a .dribbble, body.simple_page footer .soc-icons a:hover .dribbble {
          background: url("../images/socials/dribbble.png") center center no-repeat;
          background-size: 20px 20px; }
        body.simple_page footer .soc-icons a .dribbble:hover, body.simple_page footer .soc-icons a:hover .dribbble:hover {
          background: url("../images/socials/dribbble_active.png") center center no-repeat;
          background-size: 20px 20px; }
        body.simple_page footer .soc-icons a .twitter, body.simple_page footer .soc-icons a:hover .twitter {
          background: url("../images/socials/twitter.png") center center no-repeat;
          background-size: 20px 20px; }
        body.simple_page footer .soc-icons a .twitter:hover, body.simple_page footer .soc-icons a:hover .twitter:hover {
          background: url("../images/socials/twitter_active.png") center center no-repeat;
          background-size: 20px 20px; }
        body.simple_page footer .soc-icons a .facebook, body.simple_page footer .soc-icons a:hover .facebook {
          background: url("../images/socials/facebook.png") center center no-repeat;
          background-size: 20px 20px; }
        body.simple_page footer .soc-icons a .facebook:hover, body.simple_page footer .soc-icons a:hover .facebook:hover {
          background: url("../images/socials/facebook_active.png") center center no-repeat;
          background-size: 20px 20px; }
        body.simple_page footer .soc-icons a .linkedin, body.simple_page footer .soc-icons a:hover .linkedin {
          background: url("../images/socials/linkedin.png") center center no-repeat;
          background-size: 20px 20px; }
        body.simple_page footer .soc-icons a .linkedin:hover, body.simple_page footer .soc-icons a:hover .linkedin:hover {
          background: url("../images/socials/linkedin_active.png") center center no-repeat;
          background-size: 20px 20px; }
  body.simple_page #map {
    overflow: hidden; }
    body.simple_page #map iframe {
      width: 100%; }
  body.simple_page .general-title .features-title {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.6px; }
  body.simple_page .general-title .overview {
    color: #008ed6;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px; }
  body.simple_page .general-title .line-across {
    margin: 0 0 40px; }

/*# sourceMappingURL=style.css.map */
